.searchByFilters__genresFilter,
.searchByFilters__yearFilter{
    border: none;
    
    padding: 10px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.genresFilter__genreContainer{
    padding: 5px;
    border: 1px solid var(--theme-bg);
    background-color: transparent;

    color: var(--theme-bg);

    position: relative;

    transition: background .3s ease-in-out;
    cursor: pointer;

}

.genresFilter__genreContainer:hover{
    background-color: var(--color-primary);
    scale: 1.02;
}

/* .genresFilter__genreContainer:hover .genresFilter__genreName{
    color: var(--theme-bg);
} */


.genresFilter__genreContainer:has(.genresFilter__genreCheckbox:checked) {
    background-color: var(--color-primary);
    color: white;
}

.genresFilter__genreContainer:not(:has(.genresFilter__genreCheckbox:checked)){
    background-color: transparent;
}

/* .genresFilter__genreContainer:hover:not(:has(.genresFilter__genreCheckbox:checked)){
    background-color: var(--theme-text);
    color: var(--theme-bg);
} */

.genresFilter__genreCheckbox{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.yearFilter__yearCheckbox{
    background-color: var(--theme-bg-trans);
    border: 1px solid var(--color-primary);
    width: 100%;
    padding: 8px 16px;
    border-radius: 7px;
    color: var(--theme-text);
}

.yearFilter__yearCheckbox::placeholder{
    color: var(--theme-text-trans);
    font-weight: 700;
}

.genresFilter__genreName{
    font-weight: 400;
}

.genresFilter__title,
.yearFilter__title{
    font-weight: 500;
}

@media screen and (min-width: 400px) {

    .searchByFilters__genresFilter,
    .searchByFilters__yearFilter{
        padding: 15px 0;
        gap: 10px;
        margin-top: 8px;
    }
}

@media screen and (min-width: 600px) {

    .genresFilter__genreName{
        font-size: 1.2rem;
    }
}
