/* ---------- FILTER CONTAINERS SHARED STYLES ---------- */

.searchByFilters__genresFilter,
.searchByFilters__yearFilter{
    border: none;
    
    padding: 10px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.genresFilter__title,
.yearFilter__title{
    font-weight: 500;
}

/* ---------- GENRE FILTER ---------- */

.genresFilter__genreContainer{
    padding: 5px;
    border: 1px solid var(--theme-bg);
    background-color: transparent;

    color: var(--theme-bg);

    position: relative;

    transition: background .3s ease-in-out;
    cursor: pointer;

}

.genresFilter__genreContainer:hover{
    background-color: var(--color-primary);
    scale: 1.02;
}

.genresFilter__genreContainer:has(.genresFilter__genreCheckbox:focus) {
    outline: 2px solid var(--theme-bg);
}

.genresFilter__genreContainer:has(.genresFilter__genreCheckbox:checked) {
    background-color: var(--color-primary);
    color: white;
}

.genresFilter__genreContainer:not(:has(.genresFilter__genreCheckbox:checked)){
    background-color: transparent;
}

.genresFilter__genreCheckbox {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

/* .genresFilter__genreCheckbox:focus + span{
    border: 2px solid var(--theme-bg);
} */

.genresFilter__genreName{
    user-select: none;
    font-weight: 400;
}

/* ---------- YEAR FILTER ---------- */

.yearFilter__yearCheckbox{
    background-color: var(--theme-bg-trans);
    border: 1px solid var(--color-primary);
    width: 100%;
    padding: 8px 16px;
    border-radius: 7px;
    color: var(--theme-text);
}

.yearFilter__yearCheckbox::placeholder{
    color: var(--theme-text-trans);
    font-weight: 700;
}

/* ---------- RESPONSIVE ---------- */

@media screen and (min-width: 400px) {

    .searchByFilters__genresFilter,
    .searchByFilters__yearFilter{
        padding: 15px 0;
        gap: 10px;
        margin-top: 8px;
    }
}

@media screen and (min-width: 600px) {

    .genresFilter__genreName{
        font-size: 1.2rem;
    }
}
