<header class="header" [appHeaderThemeBg]="{isOpen: isOpen()}">
    <a routerLink="/" class="header__brandText">
        FILMFLIX
    </a>

    <section class="header__menu">
        <nav #navbar class="headerMenu__nav">
            <ul 
                class="headerMenu__navList" 
            >
                <li class="headerMenu__navItem">
                    <a 
                        routerLink="/search"
                        class="headerMenu__navLink">
                        <span>Películas</span>
                    </a>
                </li>

                <li class="headerMenu__navItem">
                    <a 
                        routerLink="/search"
                        class="headerMenu__navLink">
                        <span>Cartelera</span>
                    </a>
                </li>

                <li class="headerMenu__navItem">
                    <a 
                        routerLink="/search"
                        class="headerMenu__navLink">
                        <span>Próximamente</span>
                    </a>
                </li>

                <li class="headerMenu__navItem">
                    <a 
                        href="https://alday.dev"
                        target="_blank"
                        rel="noreferrer noopener"
                        class="headerMenu__navLink headerMenu__navLink--aldaydev">
                        <span>AldayDev</span>
                    </a>
                </li>
            </ul>
            
        </nav>
        <app-toggle-theme/>
        <button 
            class="headerMenu__navToggle" 
            (click)="navToggle()"
            [class.hidden]="screenSize.width() >= 1024"
        >
            <span class="navToggle__bar1"></span>
            <span class="navToggle__bar2"></span>
            <span class="navToggle__bar3"></span>
        </button>
        
    </section>
    
</header>

