:host {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 100dvw;
    height: 75px;
    z-index: 999;

    /* background: linear-gradient(to bottom, var(--theme-bg-trans) 40%, transparent 100%); */
}

header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120rem;
    padding: 0 var(--res-padding);

    transition: background .5s ease-in-out;

    position: relative;
}

.header__brandText {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--color-primary);
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 130%;
    width: 100%;
    background: linear-gradient(to bottom, var(--theme-bg-trans) 0%, transparent 100%);
    z-index: -1;
    opacity: 0;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 120%;
    width: 100%;
    background: linear-gradient(to bottom, var(--theme-bg-trans) 40%, transparent 100%);
    z-index: -1;
    opacity: 0;
}

header.bgGradientLight::before {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

header.bgGradientDark::after {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

header.bgSolid{
    background-color: var(--theme-bg);
}

.header__menu{
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.headerMenu__nav{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--theme-bg);
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    /* opacity: 0; */
}

.headerMenu__navList{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    padding: 50px 0;
}

/* .headerMenu__navList{
    position: absolute;
    top: 75px;
    left: 0;
    background-color: var(--theme-bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    row-gap: 25px;
    padding: 50px 30px;

    overflow: hidden;
    visibility: hidden;

    transition: height .3s ease-in-out;
} */

/* .headerMenu__navList.isOpen{
    padding: 30px;
} */

.headerMenu__navToggle{
    height: 30px;
    width: 30px;
    background-color: aqua;
    cursor: pointer;
}

.headerMenu__navToggle.hidden{
    display: none;
}

.headerMenu__navLink{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-primary);
    cursor: pointer;
}

.headerMenu__navLink--aldaydev{
    display: block;
    color: var(--theme-text);
    border: 1px solid var(--theme-text);
    border-radius: 8px;
    max-height: 40px;
}

.headerMenu__navLink--aldaydev span{
    padding: 6px 15px;
    font-size: 1.2rem;
}

.headerMenu__navLink span{
    text-align: center;
    display: block;
    height: 100%;
    transition: scale .2s ease-in-out;
}

.headerMenu__navLink:hover span{
    scale: 1.03;
}

@media screen and (min-width: 800px) {
    .header__brandText {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .headerMenu__nav{
        position: static;
        background-color: transparent;
        align-items: center;
        justify-content: center;
    }

    .headerMenu__navList{
        flex-direction: row;
        align-items: center;
        row-gap: 0;
        column-gap: 35px;
        padding: 0;
    }
}