.star-container {
    position: relative;
}

/* ---------- STAR FILL ---------- */

.star-fill {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -2px;
    width: 100%;
    z-index: -10;

    mask-image: url("../../../../assets/icons/star_fill_icon.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    -webkit-mask-image: url("../../../../assets/icons/star_fill_icon.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

/* ---------- STAR OUTLINE ---------- */

.star-outline .blackStroke{
    stroke: var(--theme-text);

    transition: stroke .3s ease-in-out;
}
