.star-container {
    position: relative;
}

.star-fill {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -2px;
    width: 100%;
    z-index: -10;

    /* Color de fondo que quieres "rellenar" */
    /* background: linear-gradient(90deg,
    #E50914 0%,       
    #E50914 40%,      
    transparent 40%,           
    transparent 100%
    ); */

    /* Aquí aplicamos la máscara SVG */
    mask-image: url("../../../../assets/icons/star_fill_icon.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    /* Para navegadores Webkit (Safari, Chrome) */
    -webkit-mask-image: url("../../../../assets/icons/star_fill_icon.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}
