.home__homeHero{
    height: 90dvh;
    width: 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.homeHero__bgImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.home__homeHero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-bg-trans);
    /* opacity: 0.6; */
    z-index: 10;
    transition: background .5s ease-in-out;
}

.homeHero__welcome{
    padding: 70px var(--res-padding);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 20;

}

.welcome__container{
    max-width: 700px;
    text-wrap: balance;
    text-align: center;
}

.welcome__title{
    margin-bottom: 2.2rem;
}

.welcome__title span {
    color: var(--color-primary);
    /* text-shadow: 0 0 5px black; */
}

.welcome__subtitle{
    margin-bottom: 1rem;
}

.welcome__description{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-wrap: pretty;
}


.homeHero__search{
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 30px;
}

.homeHero__heroSeparator{
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.heroSeparator__figure--back{
    height: 70px;
    width: 100%;
    background-color: var(--theme-bg);
    /* background: linear-gradient(to bottom, var(--theme-bg-trans) 0%, var(--theme-bg) 50%); */
    position: absolute;
    bottom: -10px;

    /* clip-path: ellipse(100% 100% at 50% 100%); */
    border-top: solid .2rem red;
    border-top-left-radius: 70% 100%;
    border-top-right-radius: 70% 100%;
    /* transform: rotate(90deg); */
    z-index: 60;

    transition: background-color .3s ease-in-out;
}

/* .heroSeparator__figure--front{
    height: 80px;
    width: 100%;
    background-color: #E50915;

    position: absolute;
    bottom: -7px;

    border-top-left-radius: 121% 210px;
    border-top-right-radius: 121% 210px;
    z-index: 50;
} */


@media screen and (min-width: 600px) {
    .homeHero__search{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr auto;
    }
}

@media screen and (min-width: 800px) {
    
    /* .home__homeHero{
        height: 90dvh;
    } */

    .welcome__description {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1200px) {
    
    .home__homeHero{
        height: 100dvh;
    }

    .welcome__description {
        font-size: 1.5rem;
    }

    .heroSeparator__figure--back{
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
    }
}