:host{
    position: relative;
    z-index: 2;
    width: 100%;
}

.searchList{
    width: 100%;
    margin-top: 40px;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}

.searchList__noResultContainer{
    border: 1px solid var(--theme-text);
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchList__noResultText{
    font-size: 1.2rem;
}

@media screen and (min-width: 780px) {
    .searchList{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        
    }

}

@media screen and (min-width: 1200px) {
    .searchList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
    }
}