:host{
    position: relative;
    z-index: 2;
}

.searchList{
    margin-top: 40px;
}

@media screen and (min-width: 800px) {
    .searchList{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .searchList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 15px;
    }
}