<section class="searchList"
    infiniteScroll
    [scrollWindow]="true"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="300"
    (scrolled)="onScroll()"
>
    @if (filmList().length > 0) {
        @for (film of filmList(); track film.id) {
            <app-film-card
                [title]="film.title"
                [image]="film.poster_path | posterUrl"
                [date]="film.release_date"
                [genres]="film.genre_ids"
                [id]="film.id"
                [vote_average]="film.vote_average"
                [loading]="loading()"
            />
        }
    }
</section>

<button class="goToTopButton" [class.show]="showGoToTopButton()" (click)="goToTop()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff" [class.dark]="themeService.theme() === 'dark'"><path d="m320.62-93.85-56.77-56.77L593.23-480 263.85-809.38l56.77-56.77L706.77-480 320.62-93.85Z"/></svg>
</button>


@if(filmList().length === 0 || loading()) {
    <div class="searchList__noResultContainer">
        <app-spinner/>
    </div>
}
