/* ---------- HOST ---------- */

:host{
    display: block;
    width: 100%;
    height: 100dvh;
    padding: 70px var(--res-padding);
    position: fixed;
    top: 0px;
    left: 0;
    background-color: var(--theme-bg-trans-darker);

    animation: modalSlide .3s ease-in-out both;

    transition: background-color .3s ease-in-out;

    z-index: 50;
}

/* ---------- MODAL CONTAINER ---------- */

.modalContainer{

    margin-top: 20px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

/* ---------- CLOSE BUTTON ---------- */

.closeButton__container{
    width: 100%;

    display: flex;
    justify-content: end;
}

.closeButton{
    height: fit-content;
    width: 40px;
    background-color: transparent;
    border: none;

    z-index: 100;

    cursor: pointer;
}

.closeButton path{
    fill: var(--theme-text);
}

/* ---------- VIDEO CONTAINER ---------- */

.videoContainer{
    width: 100%;
    height: 100%;
}

.iframeContainer{
    display: flex;
    margin-top: 20px;
}

.video-iframe{
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.videoName{
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 1.1;
    text-align: center;
}