:host{
    display: block;
    width: 100%;
    height: 100%;
    padding: 70px var(--res-padding);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--theme-bg-trans);


    animation: modalSlide .3s ease-in-out both;
}

@keyframes modalSlide {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.modalContainer{
    margin-top: 20px;
    
    background-color: var(--theme-bg);
    box-shadow: 0 0 5px var(--theme-text);
    width: 100%;
    height: 100%;

    position: relative;
}

.closeButton{
    height: fit-content;
    width: 40px;
    background-color: transparent;
    border: none;

    position: absolute;
    top: 4px;
    right: 4px;

    cursor: pointer;
}

.closeButton path{
    fill: var(--theme-text);
}