:host{
    display: block;
    width: 100%;
    height: 100%;
    padding: 70px var(--res-padding);
    position: fixed;
    top: 70px;
    left: 0;
    background-color: var(--theme-bg-trans-darker);

    animation: modalSlide .3s ease-in-out both;

    z-index: 50;
}

@keyframes modalSlide {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.modalContainer{
    margin-top: 20px;
    
    /* background-color: var(--theme-bg-trans-darker); */
    /* box-shadow: 0 0 5px var(--theme-text); */
    width: 100%;
    height: 100%;



    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */

}

.closeButton{
    height: fit-content;
    width: 40px;
    background-color: transparent;
    border: none;

    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: end;

    margin-bottom: 20px;

    z-index: 100;
    

    /* position: absolute;
    top: 4px;
    right: 4px; */

    cursor: pointer;
}

.closeButton path{
    fill: var(--theme-text);
}

.videoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;

    margin: 0 auto;
    margin-bottom: 100px;
    height: 50%;

}

.iframeContainer{
    position: relative;
    width: 100%;
    max-width: 1000px; /* máximo ancho */
    aspect-ratio: 16 / 9;
    height: auto;
}

.videoContainer iframe {
    /* display: block;
    min-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; */
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    border: 0;
}

.videoName{
    font-size: 1.4rem;
    line-height: 1.1;
    text-align: center;
}