:host{
    max-width: 100%;
    width: 100dvw;
}

.homeFeatures__container{
    padding: 70px var(--res-padding);
}

.homeFeatures__title{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}