/* ---------- HOST ---------- */

:host{
    max-width: 100%;
    width: 100dvw;
}

/* ---------- CONTAINER ---------- */

.homeFeatures__container{
    padding: 0 var(--res-padding);
    padding-top: 77px;
    padding-bottom: 35px;
}

/* ---------- FEATURES TITLE ---------- */

.homeFeatures__title{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

/* ---------- FEATURES CARDS ---------- */

.homeFeatures__cardsContainer{
    margin-top: 40px;
    display: grid;
    row-gap: 50px;
}

/* ---------- RESPONSIVE ---------- */

@media screen and (min-width: 800px) {

    .homeFeatures__cardsContainer{
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        grid-template-rows: 1fr 1fr;
    }

}

@media screen and (min-width: 1360px) {

    .homeFeatures__cardsContainer{
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        grid-template-rows: 1fr;
    }

}