@defer (when !searchState.loading()) {
<a 
    class="filmCard"
    [routerLink]="['/film', id()]"
>


    <img [src]="image()" [alt]="'Poster de ' + title()" class="filmCard__image">

    <div class="filmCard__info">

        <h3 class="filmCard__title">{{title()}}</h3>

        <div class="filmCard__genres">
            @for (genre of genres().slice(0, 4); track $index) {
                <span class="filmCard__genre">{{genre.name}}</span>
            }

            @if (genres().length > 4) {
                <span class="filmCard__more">+{{ genres().length - 4 }}</span>
            }
        </div>


        <h4 class="filmCard__date">{{date()}}</h4>
        <div class="filmCard_starsContainer">
            <app-five-stars-rate [vote_average]="vote_average() | roundRate"/>
        </div>
    </div>

</a>
}@placeholder {
    <div class="empty-state">Preparando películas...</div>
} @loading {
    <div class="empty-state">Preparando películas...</div>
}