.customButton{
    padding: 5px 15px;
}

.customButton--red{
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    transition: background .3s ease-in-out;
    border-radius: 10px;
}

.customButton--red:hover{
    background-color: var(--color-primary-dark);
}