
/* ---------- HOST ---------- */

:host{
    max-width: 100%;
    width: 100dvw;
}

/* ---------- CONTENT ---------- */

.homeCarousel__container{
    margin-top: 70px;
}

.homeCarousel__title{
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0 var(--res-padding);
    margin-bottom: 1.5rem;
}