.faqExpansor__titleContainer{
    background-color: #2D2D2D;
    border: none;
    width: 100%;
    color: white;
    padding: 20px;
    font-size: .9rem;
    text-align: start;
    text-wrap: balance;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    transition: background .3s ease-in-out;
}

.faqExpansor__titleContainer:hover{
    background-color: #414141;
}


.faqExpansor__titleContainer.isOpen{
    background-color: #414141;
}

.faqExpansor__titleContainer.isOpen svg{
    transform: rotate(180deg);
}

.faqExpansor__titleContainer svg{
    width: 38px;
    transform: rotate(45deg);
    transition: transform .3s ease-in-out;
}

.faqExpansor__title{
    font-weight: 600;
}

.faqExpansor__descriptionContainer{
    height: 0;
    overflow: hidden;
    background-color: #2D2D2D;
    color: white;
    margin-top: 3px;
    font-size: 1.2rem;
    line-height: 1.2;

    display: block;
    align-items: center;

    transition: height .3s ease-in-out;
}

.faqExpansor__description{
    padding: 24px;
}   