/* ---------- HOST ---------- */

:host{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 990;
}

/* ---------- SEARCHER CONTAINER ---------- */

.searchFilms__searcher{
    display: block;
    background-color: var(--theme-text-trans-darker);
    color: var(--theme-bg);
    width: 100%;
    /* height: 50px; */
    height: auto;
    border-radius: 15px;

    padding: 0 12px 12px 12px;

    overflow: hidden;

    position: sticky;
    top: 90px;

    z-index: 1;

    transition: height .3s ease-in-out, background .3s ease-in-out;
}

/* ---------- SEARCHER EXPANDER ---------- */

.searcher__expander{
    height: 50px;
    background-color: transparent;
    border: none;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor:  pointer;

    z-index: 50;
}

.searcher__expander:focus{
    outline: none;
}

.searcher__expander svg,
.searcher__expander .searcher__resume,
.searcher__expander .searcher__info{
    pointer-events: none;
}

.searchFilms__searcher:has(.searcher__expander:focus){
    border: none;
    outline: 3px solid var(--color-primary) ; 
}

.searcher__expander svg{
    transform: rotate(45deg);
    transition: transform .3s ease-in-out;
}

.searcher__expander svg.isOpen{
    transform: rotate(-90deg);
}

.searcher__info{
    width: 80%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.searcher__resume{
    max-width: 70%;
    color: var(--theme-bg);
    font-weight: 600;
    font-size: 1.1rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searcher__indicator{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-primary);
}