.home_homeWhatsNew{
    padding: 0 var(--res-padding);
    margin-top: 15px;
    margin-bottom: 30px;
}

.homeWhatsNew__card{
    
    padding: 40px 20px 30px 20px;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 25px;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.815);
    /* background-color: black; */
    z-index: 10;

    transition: scale .3s ease-out;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.349);
}

.homeWhatsNew__card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, var(--color-gradient-purple) 0%, var(--color-gradient-blue) 99.51%);
    border-radius: 10px;
    z-index: -10;
    opacity: .5;

    transition: opacity .3s ease-out;
}

.homeWhatsNew__card:hover{
    scale: 1.02;
}

.homeWhatsNew__card:hover:before{
    opacity: .7;
}

/* ---------- POPCORN ILLUSTRATION ---------- */

.homeWhatsNew__popcornContainer{
    max-width: 55px;

    position: absolute;
    top: -33px;
    z-index: 100;
}

.homeWhatsNew__popcornIllustration{
    width: 100%;
    height: 100%;
}

/* ---------- INFO SECTION ---------- */

.homeWhatsNew__info{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: white;
}

.homeWhatsNew__data{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.homeWhatsNew__infoTitle{
    line-height: 1.2;
    font-size: 1.4rem;
}

.homeWhatsNew__buttonContainer{
    width: fit-content;
}

@media screen and (min-width: 600px) {
    .homeWhatsNew__card{
        flex-direction: row;
        justify-content: space-between;
        column-gap: 40px;
        padding: 40px 50px;
    }
}

@media screen and (min-width: 1024px) {

    .homeWhatsNew__card{
    
        padding: 15px 50px;
    }

    .homeWhatsNew__buttonContainer{
        display: flex;
        align-items: center;
    }

    .homeWhatsNew__popcornContainer{
        max-width: 60px;
        position: static;
        display: flex;
        align-items: center;
    }

    .homeWhatsNew__info{
        flex-direction: row;
        align-items: center;
        column-gap: 1.4rem;
    }
}