/* ---------- GLOBAL VARIABLES ----------*/

:root {
    --color-prim: #E50914;
    --color-prim-dark: #C11119;
    --dark-bg: #000000;
    --dark-color: white;
    --light-bg: white;
    --light-color: #000000;
}

/* ---------- GLOBAL STYLES ----------*/

html {
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
}

*
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, body {
    margin: 0;
    padding: 0;
}

app-root{
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, textarea, select {
    font-family: inherit;
    font-size: inherit;
}

h1 {
    font-weight: 900;
}

html.light {
    background-color: #000;
    color: #fff;
}