/* ---------- GLOBAL VARIABLES ----------*/

:root {
    --color-primary: #E50914;
    --color-primary-dark: #C11119;
}

/* Tema oscuro por defecto */
:root {
    --theme-bg: #000;
    --theme-text: white;
}

/* Si el usuario tiene modo claro (lo sobrescribes) */
html.light {
    --theme-bg: white;
    --theme-text: #000;
}

/* ---------- GLOBAL STYLES ----------*/

html {
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: var(--theme-bg);
    color: var(--theme-text);
}

*
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, body {
    margin: 0;
    padding: 0;
}

app-root{
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, textarea, select {
    font-family: inherit;
    font-size: inherit;
}

h1 {
    font-weight: 900;
}