/* ---------- VARIABLES GLOBALES ----------*/

:root {
    --color-prim: #E50914;
    --color-prim-light: #f17279;
    --dark-bg: #000000;
    --dark-color: white;
    --light-bg: white;
    --light-color: #000000;
}