/* ---------- HOST ---------- */

:host{
    display: flex;
    transition: scale .3s ease-in-out;
}

/* ---------- INSIDE SVGs ---------- */

.iconColor{
    fill: var(--theme-text);
    transition: fill .3s 2s ease-in-out;
}

.lightIconColor{
    animation: changeColorToLight .3s ease-in-out .5s both;
}

.darkIconColor{
    animation: changeColorToLight .3s ease-in-out .5s reverse both;
}

.firstRenderAnimation{
    animation: firstRenderAnimation 1s 1s ease-in-out both !important;
}

/* ---------- ANIMATIONS ---------- */

@keyframes changeColorToLight {
    from{
        fill: #ffffff;
    }to{
        fill: #000000;
    }   
}

@keyframes firstRenderAnimation {
    from{
        fill: transparent !important;
    }to{
        fill: var(--theme-text);
    }   
}