/* ---------- OUTER CONTAINER ----------*/

.filmCarousel__outerContainer{
    background-color: var(--thme-bg);
    /* background-color: aqua; */
    padding: 0 calc(var(--res-padding) + 30px);
    width: 100%;
    height: 350px;

    position: relative;

    transition: background .3s ease-in-out, padding .2s ease-in-out;
}

.filmCarousel__outerContainer.onStart{
    padding-left: var(--res-padding);
}

.filmCarousel__outerContainer.onEnd{
    padding-right: var(--res-padding);
}

/* ---------- SLIDE BUTTONS ----------*/

.filmCarousel__buttonContainer{
    /* background-color: blueviolet; */
    background-color: var(--theme-bg);
    position: absolute;
    top: 0;
    /* left: 0; */
    width: calc(var(--res-padding) + 30px);
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;

    transition: opacity .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out, background .3s ease-in-out;
}

.filmCarousel__buttonContainer--left{
    /* padding-right: 25px; */
    /* justify-content: end; */

    opacity: 0;
    left: -50px;

    /* background: linear-gradient(to left, transparent 0%, var(--theme-bg) 10%); */

    /* opacity: 1;
    left: 0; */
}

.filmCarousel__buttonContainer--left.show{
    opacity: 1;
    left: 0;
}

.filmCarousel__buttonContainer--right{
    /* padding-left: 25px;
     */
    
    opacity: 0;
    right: -50px;

    
}

.filmCarousel__buttonContainer--right.show{
    /* justify-content: start; */

    opacity: 1;
    right: 0;

    /* background: linear-gradient(to right, transparent 0%, var(--theme-bg) 10%); */
    
}

.filmCarousel__slideButton{
    background-color: var(--color-secondary-dark);
    border: none;

    height: 40%;
    /* margin: auto 0; */

    border-radius: 10px;
    scale: .9;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background .3s ease-in-out;
}

.filmCarousel__slideButton:hover{
    background-color: var(--color-secondary);
}

/* ---------- SLIDER ----------*/

.filmCarousel__innerContainer{
    /* background-color: red; */
    background-color: var(--theme-bg);
    transition: background .3s ease-in-out;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    position: relative;

    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.filmCarousel__posterListContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.filmCarousel__posterListContainer{
    /* margin: 0 55px; */
    position: absolute;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}


.filmCarousel__posterContainer{
    display: flex;
    align-items: center;
    position: relative;

    filter: drop-shadow(0px 0px 8px var(--theme-text-trans));

    cursor: pointer;
    transition: scale .2s ease-in-out;
}

.filmCarousel__posterContainer:hover{
    scale: 1.04;
}

.filmCarousel__posterImg{
    /* padding: 0 25px; */
    padding: 0 12px;
    height: 180px;
    /* height: 280px; */
}

.filmCarousel__filmRate{
    position: absolute;
    top: 1.5rem;
    left: 5px;

    font-size: 5.2rem;
    font-size: 4.2rem;
    font-weight:700;
    color: rgb(65, 65, 65);
    -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
    
}

.filmCarousel__filmRate:before{
    content: attr(data-content);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke: 0;
    position: absolute;
}

@media screen and (min-width: 600px) {
    .filmCarousel__posterImg{
        padding: 0 20px;
        height: 230px;
    }

    .filmCarousel__filmRate{
        font-size: 5.2rem;
    }
}

@media screen and (min-width: 800px) {
    .filmCarousel__posterImg{
        padding: 0 25px;
        height: 280px;
    }

    .filmCarousel__filmRate{
        font-size: 5.4rem;
    }
}

@media screen and (min-width: 1024px) {

    .filmCarousel__buttonContainer--left{
        justify-content: end;
    }

    .filmCarousel__slideButton--left{
        margin-right: 30px;
    }

    .filmCarousel__buttonContainer--right{
        justify-content: start;
    }

    .filmCarousel__slideButton--right{
        margin-left: 30px;
    }

}