@let films = filmList();

<div class="filmCarousel__outerContainer" [class.onStart]="onStart()" [class.onEnd]="onEnd()">

    <div 
        class="filmCarousel__buttonContainer filmCarousel__buttonContainer--left" 
        [class]="onStart() ? 'hide' : 'show'"
    >
        <button 
            class="filmCarousel__slideButton filmCarousel__slideButton--left"
            (click)="slideRight()"
        >
            <app-film-carousel-arrow [position]="'left'" />
        </button>
    </div>

    <div class="filmCarousel__buttonContainer filmCarousel__buttonContainer--right" [class]="onEnd() ? 'hide' : 'show'">
        <button  
            class="filmCarousel__slideButton filmCarousel__slideButton--right"
            (click)="slideLeft()"
        >
            <app-film-carousel-arrow [position]="'right'" />
        </button>
    </div>

    <div #innerContainer class="filmCarousel__innerContainer">

        <div class="filmCarousel__posterListContainer" >
            @if (films) {
                @for (film of films; track film.id; let i = $index) {
                    @let number = i +1;
                    <a 
                        class="filmCarousel__posterContainer" #posterContainer
                        [routerLink]="['/film', film.id]"
                    >
                        <img 
                            [src]="film.poster_path | posterUrl"
                            [alt]="'Poster de ' + film.title"
                            class="filmCarousel__posterImg"
                        />
                        <span class="filmCarousel__filmRate" [attr.data-content]="number">{{number}}</span>
                    </a>
                }
            }
        </div>
    </div>
</div>