/* ---------- HOST ---------- */

:host {
    display: block;
    background-image: url('../../../assets/images/upcoming/theater-8569119_1920.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    max-width: 100dvw;
    height: 100%;
    min-height: 100dvh;

    padding: 70px var(--res-padding);

    position: relative;
}

:host:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    background: var(--theme-bg);
    transition: background .3s ease-in-out;
    z-index: 0;
}

/* ---------- NOW PLAYING CONTAINER ---------- */

.nowPlaying{
    position: relative;
    z-index: 10;
}

/* ---------- NOW PLAYING HEADER ---------- */

.nowPlaying__header{
    width: 100%;
    margin-top: 30px;
    padding-bottom: 10px;
}

.nowPlayingHeader__title{
    text-align: center;
    margin-bottom: 17px;
}

.nowPlayingHeader__title span{
    color: var(--color-primary);
    text-shadow: 0 0 10px var(--theme-bg);
    transition: text-shadow .3s ease-in-out;
}

.nowPlayingHeader__subtitle{
    text-align: center;
    font-size: 1.2rem;
}
