:host{
    width: 100%;
    display: flex;
    justify-content: center;
}

.customInput__label{
    width: 100%;
    /* min-width: 320px; */
    display: flex;
    justify-content: center;
    position: relative;
}

.customInput__labelText{
    position: absolute;
    top: 17px;
    left: 17px;
    text-wrap: nowrap;
    color: var(--theme-text);
    font-weight: 600;
    opacity: .7;
    font-size: 1.2rem;
    pointer-events: none;
    z-index: 10;

    transition: all .3s ease-in-out;
}

.customInput__label.small .customInput__labelText{
    font-size: 1rem;
    top: 11px;
}

.customInput:focus + .customInput__labelText,
.customInput:not(:placeholder-shown) + .customInput__labelText{
    opacity: 1;
    color: var(--theme-text);
    top: -20px;
    left: 12px;
    font-size: 1rem;
}

.customInput__label.small .customInput:focus + .customInput__labelText,
.customInput__label.small .customInput:not(:placeholder-shown) + .customInput__labelText{
    font-size: .9rem;
}

.customInput.light:focus + .customInput__labelText,
.customInput.light:not(:placeholder-shown) + .customInput__labelText{
    opacity: 1;
    color: var(--theme-text);
    top: -20px;
    left: 12px;
    font-size: 1rem;
}

.customInput__label.small .customInput.light:focus + .customInput__labelText,
.customInput__label.small .customInput.light:not(:placeholder-shown) + .customInput__labelText{
    font-size: .9rem;
}

.customInput__label.small .customInput{
    font-size: 1rem;
}

.customInput{
    min-width: 200px;
    width: 100%;
    min-width: min-content;
    text-wrap: nowrap;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 1.2rem;
    background-color: var(--theme-bg-trans);
    border: 1px solid var(--color-primary);
    outline: none;
    color: var(--theme-text);
    transition: background .5s ease-in-out, color .5s ease-in-out, border .3s ease-in-out;
}

.customInput:focus{
    border: 1px solid var(--theme-text);
}

.customInput::placeholder{
    color: var(--theme-text-trans);
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .customInput__labelText{
        font-size: 1.1rem;
        top: 19px;
    }

    .customInput{
        font-size: 1.1rem;
    }
}